.SassComponent {
  display: flex;
  background: $oc-gray-2;

  // width이 768px 이라면 background 변경
  @include media('<768px') {
    background: $oc-gray-9;
    ;
  }

  // 일반 css에선 .SassComponent .box 와 동일
  .box {
    background-color: red;
    cursor: pointer;
    transition: all 0.3s ease-in;

    // .red 클래스가 .box와 함께 사용됬을때
    &.red {
      background: $red;
      @include square(1);
    }

    &.orange {
      background: $orange;
      @include square(2);
    }

    &.yellow {
      background: $yellow;
      @include square(3);
    }

    &.green {
      background: $green;
      @include square(4);
    }

    &.blue {
      background: $blue;
      @include square(5);
    }

    &.indigo {
      background: $indigo;
      @include square(6);
    }

    &.violet {
      background: $violet;
      @include square(7);
    }

    &:hover {
      background: black;
    }
  }
}